{% extends 'mainsite/index.html' %}
{% block title %}О сервере{% endblock %}
{% block content %}
    <div class="rates"><h3><center>Основное</center></h3>
        <p>• Хроники сервера: INTERLUDE.
        <p>• Качественная платформа и реализация хроник INTERLUDE
        <p>• Профессия берется автоматически (вызов окна в .menu )
        <p>• Все появляются в Dion Town 10 уровня,в топ No Grade экипировке и имеют 10k адены.
        <p>• EXP/SP - x10
        <p>• Adena - x10
        <p>• Drop - x10
        <p>• Spoil - x7
        <p>• Seal Stone - x10
        <p>• RB Drop - x3
        <p>• Epic RB Drop - x1
        <p>• Quest Drop - x3
        <p>• Quest Reward - x1
        <p>• Manor - x1
    </div>
{% endblock %}