{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>WH-CLUB</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static '/mainsite/new/img/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/mainsite/new/img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/mainsite/new/img/favicon/favicon-16x16.png' %}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #1a1a1a; }</style>
	
</head>

<body class="is-home">
	
	<div class="preloader">
		<div class="pulse"></div>
	</div>

	<div id="my-page">
      <div id="my-header">
      	<header class="site-header" data-src="{% static '/mainsite/new/img/top-bg.jpg' %}" data-pos-x="left" data-parallax>
      		<div class="top-line">
      			<a href="#" class="logo"><img src="{% static '/mainsite/new/img/logo-1.svg'%}" alt=""></a>
      			<div class="icon d-none d-sm-block">
      				<a href=""><img src="{% static '/mainsite/new/img/icon/l2top.png' %}" alt=""></a>
      				<a href=""><img src="{% static '/mainsite/new/img/icon/l2top.png' %}" alt=""></a>
      				<a href=""><img src="{% static '/mainsite/new/img/icon/l2top.png' %}" alt=""></a>
      			</div>
      			<a href="#my-menu" class="hamburger hamburger--spin">
      				<span class="hamburger-box">
    					<span class="hamburger-inner"></span>
  					</span>
      			</a>

      			<nav id="my-menu">
      				<ul>
      					<li><a href="#">О сервере</a></li>
      					<li><a href="#">Регистрация</a></li>
      					<li><a href="#">Статистика</a></li>
      					<li><a href="#">Файлы</a></li>
      					<li><a href="#">Пожертвование</a></li>
      					<li><a href="#">Акции</a></li>
      					<li><a href="#">Конкурсы</a></li>
      					<li><a href="#">Форум</a></li>
      				</ul>
      			</nav>

      		</div>

      		<div class="header-flex">
      			<div class="flex-center">
      				<div class="container">
      					<div class="row">
      						<div class="col-md-7 col-10">
      							<div class="header-composition animated fadeInUp">

      								<div class="logo-text">
      									<p><span>PREMIUM COMPLEX LINEAGE  2 SERVER</span></p>
      									<h1 class="h1">wh-club</h1>
      									<strong>INTERLUDE X50 MAY</strong>
      								</div>
									
									<p><strong>WH-CLUB</strong> - это абсолютно новый и высоко бюджетный проект Lineage 2 основанный на официальной платформе. Проект рассчитан на целевую аудиторию ценителей хроник Interlude. Выбирая нас, Вы получаете максимальное удовольствие от игры. </p>
									
									<a href="#" class="button button-black"><span>Начать играть</span></a>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>

      		<div class="header-socials">
      			<nav class="soc">
      				<ul>
      					<li><a href="#"></a></li>
      					<li><a href="#"></a></li>
      					<li><a href="#"></a></li>
      				</ul>
      			</nav>
      		</div>
      	</header>
      </div>

      <div id="my-content">

		<section class="s-main">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-lg-3 left-block wow slideInLeft" data-wow-duration="2s">
						<div class="row">
                            {% block servers %}
							<div class="col-md-12 order-md-1 col-sm-6 offset-sm-0 order-sm-2 col-8 offset-2">
								<div class="block-status">
									<div class="status-server">
										<p class="name-s h4">WH-CLUB X50 <span>CRAFT-PVP</span></p>
										<div class="progress-bar">
											<span>{{ server_online }}</span>
											<div class="pb-fullnes"></div>
										</div>
										<div class="pb-fullnes"></div>
										<p class="info-s">Статус: <span id="st-s">{{server_state}}</span> <br>Платформа: Java</p>
									</div>
								
									<div class="status-server">
										<p class="name-s h4">WH-CLUB X1200 <span>soon</span></p>
										<div class="progress-bar">
											<span>50%</span>
											<div class="pb-fullnes"></div>
										</div>
										<p class="info-s">Статус: <span id="st-s">offline</span><br>Платформа: Java</p>
									</div>
								
									<div class="status-server">
										<p class="name-s h4">WH-CLUB X10 <span>end of 2018</span></p>
										<div class="progress-bar">
											<span>75%</span>
											<div class="pb-fullnes hard"></div>
										</div>

										<p class="info-s">Статус: <span id="st-s">offline</span> <br>Платформа: PTS</p>
									</div>
								</div>
							</div>
						    {% endblock %}
						<div class="col-md-12 order-md-2 col-sm-6 offset-sm-0 order-sm-1 col-8 offset-2">
								<div class="posts">
									<div class="block-title"><p class="h4">Обсуждения</p><a href="#">Перейти на форум</a></div>
									{% block forum %}
                                        {% for post in forum_bar %}
                                        <div class="post">
                                            <div class="post-img"><img src="{% if post.poster_photo %}https://forum.wh-club.ru/uploads/{{ post.poster_photo }} {% else %}{% static '/mainsite/new/img/post_img.png' %}{% endif %}" alt=""></div>
                                            <div class="post-content">
                                                <div class="post-title"><a href="https://forum.wh-club.ru/index.php?/topic/{{ post.tid }}-{{ post.title }}/">{{ post.title |truncatechars:30}}</a></div>
                                                <div class="post-author">{{post.last_poster_name}}, {{ post.last_post}}</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% endblock %}
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-8 col-lg-9 news-block wow slideInRight" data-wow-duration="2s">
						{% block content %}

						{% endblock %}
					</div>
				</div>
			</div>
		</section>


      	<section class="s-services">
      		<div class="owl-carousel carousel-services">
                {% block carousel %}
                    {% for serverinfo in server_info %}
                        <div class="carousel-services-item">
                            <div class="corousel-services-content">
                                <div class="carousel-services-composition">
                                    <div class="carousel-logo"><img src="{% static '/mainsite/new/img/logo-2.svg' %}" alt=""></div>
                                    <h3 class="h3">{{serverinfo.title}}</h3>
                                    <div class="corousel-text">
                                        {{ serverinfo.text }}
                                    </div>
                                    <div class="btn">
                                        <a href="{{ serverinfo.link }}" class="button"><span>Подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-services-image"></div>
                            </div>
                    {% endfor %}

                {% endblock %}
      		</div>
      	</section>
		
		<section class="s-king inverse section-overley">
			<div class="container">
				<div class="row">
                    {% block s_king %}
					<div class="col-lg-5">
						<h2 class="h2">{{ about_project.title }}</h2>
						<p>{{ about_project.text }}</p>
					</div>
					<div class="col-lg-7">
						<div class="section-gallery fotorama" data-nav="thumbs" data-thumbwidth="106" data-thumbheight="70" data-thumbborderwidth="4" data-thumbmargin="10" data-width="100%">
                            {% for image in about_project_images %}
  							<img src="/static/{{ image.image }}" alt="">
                            {% endfor %}
  						</div>
					</div>
                    {% endblock %}
				</div>
			</div>
		</section>

		<section class="s-call inverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 offset-lg-7">
					    {% block registration %}
						<form action="" class="callback">

							<div class="callback-logo">
								<img src="{% static '/mainsite/new/img/logo-2.svg' %}" alt="">
							</div>

							<div class="form-head">Начни играть прямо сейчас!</div>
							<p>Зарегистрируй аккаунт для входа в игру</p>

							<input type="text" name="Name" required>
		                    <div class="label-box">
		                        <label>Логин</label>
		                        <span class="valid"></span>
		                    </div>

		                    <input type="text" name="Email" required>
		                    <div class="label-box">
		                        <label>Действующий e-mail</label>
		                        <span class="valid"></span>
		                    </div>
							
							<input type="password" name="Password" required>
		                    <div class="label-box">
		                        <label>Пароль</label>
		                        <span class="valid"></span>
		                    </div>

		                    <input type="password" name="PasswordConfirm" required>
		                    <div class="label-box">
		                        <label>Повторите пароль</label>
		                        <span class="valid"></span>
		                    </div>

							<a href="#" class="button"><span>Зарегистрироваться</span></a>
						</form>
                        {% endblock %}
					</div>
				</div>
			</div>
		</section>

		<section class="s-statistics inverse section-overley">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="h2 text-center">Статистика лучших игроков</h2>
					</div>

					<div class="col-sm-8 offset-sm-2">
                        {% block statistics %}
						<div class="owl-carousel stat-carousel">
							<div class="statistics">
								<div class="statistics-header">Топ 5 PVP лучших игроков</div>
								<div class="statistics-date">Актуально на {% now "j F Y H:i" %}</div>
								<div class="statistics-text">
									<table>
										<tr>
											<th>#</th>
											<th>Игрок</th>
											<th>Pvp</th>
										</tr>
                                        {% for user in top5pvp %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ user.char_name }}</td>
											<td>{{ user.pvpkills }}</td>
										</tr>
                                        {% endfor %}
									</table>
								</div>
							</div>
							<div class="statistics">
								<div class="statistics-header">Топ 5 PK лучших игроков</div>
								<div class="statistics-date">Актуально на {% now "j F Y H:i" %}</div>
								<div class="statistics-text">
									<table>
										<tr>
											<th>#</th>
											<th>Игрок</th>
											<th>Pk</th>
										</tr>
                                        {% for user in top5pk %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ user.char_name }}</td>
											<td>{{ user.pkkills }}</td>
										</tr>
                                        {% endfor %}
									</table>
								</div>
							</div>

							<div class="statistics">
								<div class="statistics-header">Топ 5 лучших кланов</div>
								<div class="statistics-date">Актуально на {% now "j F Y H:i" %}</div>
								<div class="statistics-text">
									<table class="clans">
										<tr>
											<th>#</th>
											<th>Клан</th>
											<th>Репутация</th>
											<th>Замок</th>
										</tr>
                                        {% for clan in top5clans %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{clan.clan_name}}</td>
											<td>{{clan.reputation_score}}</td>
											<td>{{clan.hascastle}}</td>
										</tr>
                                        {% endfor %}
									</table>
								</div>
							</div>
						</div>
                        {% endblock %}
					</div>

				</div>
			</div>
		</section>

		<section class="s-streams section-overley">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="h2 text-center">Прямые трансляции</h2>
					</div>
                    {% block streams %}
					<div class="col-sm-10 offset-sm-1">
						<div class="owl-carousel streams">
                            {% for stream in streamlist %}
							<div class="stream">
								<img src="{% static '/mainsite/new/img/video.jpg' %}" alt="">
							</div>
                            {% endfor %}
						</div>
					</div>
                    {% endblock %}
				</div>
			</div>
		</section>

      </div>

      <div id="my-footer">
      	
		<div class="main-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-xs-12">
						<div class="footer-column">
							
							<img src="{% static '/mainsite/new/img/logo-1.svg' %}" alt="" class="logo-footer">
							<p>Комплекс игровых<br>серверов Lineage 2.<br>Качество, стабильность,<br>комфорт.</p>
							<div class="social-footer">
				      			<nav class="soc">
				      				<ul>
				      					<li><a href="#"></a></li>
				      					<li><a href="#"></a></li>
				      					<li><a href="#"></a></li>
				      				</ul>
				      			</nav>
				      		</div>

						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-xs-12">
						<div class="footer-column">
							
							<nav class="footer-menu">
								<ul>
									<li><a href="/about">О сервере</a></li>
									<li><a href="/account/registration">Регистрация</a></li>
									<li><a href="/statistics">Статистика</a></li>
									<li><a href="/files">Файлы</a></li>
									<li><a href="/account/donate">Пожертвование</a></li>
									<li><a href="https://forum.wh-club.ru">Форум</a></li>
								</ul>
							</nav>

						</div>
					</div>
					<div class="col-lg-3 col-md-5 col-xs-12">
						<div class="footer-column">
							
							<p class="footer-addr">
								<i class="fas fa-envelope"></i>
								Техническая поддержка:<br>
								<a href="mailto:adm@wh-club.ru">adm@wh-club.ru</a>
							</p>
							
							<p class="footer-addr">
								<i class="fas fa-comments"></i>
								Задайте интересующий вас<br>
								вопрос на <a href="http://forum.wh-club.ru/">форуме.</a>
							</p>	
								
						</div>
					</div>
					<div class="col-lg-5 col-md-12 col-xs-12">
						<div class="footer-column">
							
							<div class="partners">
								<img src="{% static '/mainsite/new/img/PayPal.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/QIWI.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/ya.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/vesamast.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/bel.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/meg.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/mtslogocolorru-600x300.png' %}" alt="">
								<img src="{% static '/mainsite/new/img/nc-logo.png' %}" alt="">
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

      </div>
   </div>

	<div class="top" title="Наверх">
		<i class="fas fa-angle-double-up"></i>
	</div>


	<link rel="stylesheet" href="{% static '/mainsite/new/css/css-libs.min.css' %}">
	<link rel="stylesheet" href="{% static '/mainsite/new/css/main.min.css' %}">
	<link rel="stylesheet" href="{% static '/mainsite/new/css/media.min.css' %}">
	<script src="{% static '/mainsite/new/js/scripts.min.js' %}"></script>
	<script src="{% static '/mainsite/new/js/common.min.js' %}"></script>

</body>
</html>