{% extends 'mainsite/new/index.html' %}
{% block title %}WH-CLUB.RU x50 L2 Server{% endblock %}
{% block content %}
    {% for item in content_page %}
    <div class="row align-items-center">
        <div class="col-lg-7">
            <div class="news">
                <div class="body-news">
                    <div class="news-title h4">{{item.title}}</div>
                    <div class="news-date">Дата: {{item.public_since}}</div>
                    <div class="news-content">{{ item.text }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="news-image"></div>
        </div>
    </div>
    {% endfor %}
    <div class="paginator">
        {% if content_page.has_previous %}<a href="?page={{ content_page.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a>{% endif %}
        {% for i in content_pages.page_range %}
        <a href="?page={{ i }}">{{i}}</a>
        {% endfor %}
        {% if content_page.has_next %}<a href="?page={{ content_page.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>{% endif %}
    </div>
{% endblock %}